/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import 'normalize';

  #root, html {
    color: #4d4d4d;
    background-color: #eee;
  }

 .timezone-box {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     width: 70%;
     border-radius: 6px;
     box-shadow: 0px 2px 0px 0px #d4d4d4;
     margin: 10px auto;
     background-color: #fff;
 }

.user-line {
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 5%;
  display: flex;
  align-items: center;
}

 img {
  height: 38px;
  width: 38px;
  border-radius: 28px;
  margin: 8px ;
}

button {
  opacity: 1;
}

button:hover {
  opacity: 0.75;
}
.user {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    margin-bottom: 10px;
    align-items: center;
    width: 70%;
}

.user > img {
  margin-left: 5%;
}

.login-btn {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.selector {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.heading-itm {
  margin: 5px 5%;
}
